@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html {
    font-size: 16px;
}


/* NORMAL -------------------------------------------------------------------------------- */

p {
    font-size: 1.1rem;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.header {
    height: 100vh;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 7%;
}

.fondo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1 {
    color: #111111;
    font-weight: bold;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-25 {
    width: 25%;
    float: left;
}

.column-60 {
    width: 60%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
}

.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 1%;
    width: 15%;
    height: 100vh;
    float: left;
    background-color: rgb(137, 229, 186);
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.noticias {
    padding: 15px;
    overflow: auto;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgb(137, 229, 186);
}

footer {
    background-color: rgb(35, 35, 35);
}

.lista {
    display: none;
}





@media only screen and (max-width: 700px) {
    .column-60 {
        width: 70%;
    }
    .nav {
        width: 30%;
        height: 100vh;
        float: left;
    }
    .header {
        padding: 70% 10%;
    }
    .header h1 {
        font-size: 4rem;
    }
    .noticias {
        float: right;
        width: 70%;
        overflow: hidden;
        height: auto;
        background-color: white;
    }
    .text {
        font-size: 25px;
    }
    .lista {
        display: list-item;
    }
}