@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@300&display=swap');
html {
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#id2 {
    display: none;
}

#id3 {
    display: none;
}

#id4 {
    display: none;
}

p {
    font-size: 1.1rem;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.3rem;
}

.header {
    height: 100vh;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 20% 7%;
}

.fondo {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1 {
    color: #111111;
    font-weight: bold;
    text-align: center;
}



.columna-25 {
    width: 25%;
    float: left;
}

.columna-60 {
    width: 60%;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 100%;
}

.nav {
    position: sticky;
    top: 0;
    padding: 1%;
    width: 15%;
    height: 100vh;
    float: left;
    background-color: rgb(88, 176, 206);
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.noticias {
    padding: 15px;
    overflow: auto;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: rgb(88, 176, 206);
}

.carrusel {
    width: 100%;
    height: 70%;
}

@media only screen and (max-width: 700px) {
    html{
        font-size: 10px;
    }
    .columna-60 {
        width: 70%;
    }
    .nav {
        width: 30%;
        float: right;
        padding: 15px;
    }
    .header {
        padding: 70% 10%;
    }
    .header h1 {
        font-size: 4rem;
    }
    .noticias {
        width: 70%;
        background-color: rgb(255, 255, 255);
        position: static;
        margin-left: 30%;
    }
    .text {
        font-size: 2rem;
    }
}